<h1 class="blue-text">About</h1>
<div class="row">
    <div class="card">
        <div class="card-content left col m6">
            <img class="responsive-img" src="/img/about.jpeg">
        </div>

        <div class="card-content right col  m6">

            <p>This website was build with the aim of encouraging Christianity. Here a registered User can Login and write
                a verse to encourage and pass any information related to the church and the spiritual life that he or she feel likes the world should here it. Lets maintain
                the spirit of christianity by encouraging and influencing other people to join us through scriptures and other
                wise motivational quotes based on the bible and the life testimonies.
            </p>

        </div>
        <div class="card-content right col m6">
            <img class="responsive-img" src="/img/1.jpeg">
        </div>

        <div class="card-content left col m6">
            <p>
                <strong>We all live in the favour and love of God! Be humble and live a sweet life in Christ.
                    The Bible is the best book of life. Create an interest of reading it and help other people
                    to know about it. Make good use of this Website.
               </strong>
            </p>
        </div>

    </div>
</div>