
<p><strong>Welcome</strong> to <b>The Bible Website.</b> <a href="/user/login">Login</a> to start posting bible verses
    to enlighten and motivate other people. Here you can also post bible Stories you feel like other people should read.
    Let us share the word of God to the whole world!
</p>

<div class="center fadein hide-on-med-and-down">
    <img src="/img/1.jpeg" class="center">
    <img src="/img/2.jpeg" class="center">
    <img src="/img/3.jpeg" class="center">
    <img src="/img/4.jpeg" class="center">
    <img src="/img/5.jpeg" class="center">
</div>