<div class="card col s12">
    <div class="row">
        <div class="col s12">
            <form class="col s12" action="/user/login" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" type="text" class="validate" name="username" required>
                        <label for="username" class="blue-text">User Name</label>
                    </div>

                    <div class="input-field col s12">
                        <input  id="password" type="password" class="validate" name="password" required>
                        <label for="password" class="blue-text">Password</label>
                    </div>

                    <button class="btn btn-primary">Submit</button>

                </div>

            </form>
        </div>
    </div>
</div>