<h5 class="blue-text">Register now and start posting your bible quotes of the day! Sweet Life being near to Christ</h5>
<div class="card col s12">
<div class="row">
    <div class="col s12">
        <form class="col s12" action="/user/register" method="post">
            <div class="row">

                <div class="input-field col s12">
                    <input id="name" type="text" class="validate" name="name" required>
                    <label for="name" class="blue-text">Full Name</label>
                </div>

                <div class="input-field col s12">
                    <input id="username" type="text" class="validate" name="username" required>
                    <label for="username" class="blue-text">User Name</label>
                </div>

                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" name="email" required>
                    <label for="email" class="blue-text">Email Address</label>
                </div>

                <div class="input-field col s12">
                    <input  id="phone" type="text" class="validate" name="phone" required>
                    <label for="phone" class="blue-text">Phone Number</label>
                </div>

                <div class="input-field col s12">
                    <input  id="password" type="password" class="validate" name="password" required>
                    <label for="password" class="blue-text">Password</label>
                </div>

                <button class="btn btn-primary">Submit</button>

            </div>

        </form>
    </div>
</div>
</div>